@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');

body{
    min-height: 100vh;
    background-image: linear-gradient(#AD2831,#800E13,#640D14,#38040E,#250902);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color:#ffd0d3;
    font-family: 'Prompt', sans-serif;
}

* {
  margin: 0;
  padding: 0;  
}

main {
    margin: 5px;
    padding: 5px;
}

.top-msg{
    font-size: 1.5em;
    display: flex;
}

.top-msg div{
    margin: 15px 20px;
}

img{
    width: 40%;
}

.msg-element {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}

#change-msg-btn{
    width: 150px;
    border-radius: 5px;
    padding: 1em;
    margin-top: 15px; 
    letter-spacing: .6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: rgb(0, 90, 0);
    background-color: gold;
}

#change-msg-btn:hover{
    background-color: rgb(255, 230, 120);
    color: rgb(20, 120, 20);
}

#random-message{
    font-size: 1.4em;
}

footer{
    margin-left: 25px;
}

.st-valentine{
    font-size: 1.7em;
    
}
.heart-emoji{
    font-size: 1em;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
