@import url('https://fonts.googleapis.com/css2?family=Itim&family=Prompt:wght@300&family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');

body{
    background-image: linear-gradient(#AD2831,#800E13,#640D14,#38040E,#250902);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color:#ffd0d3;
    font-family: 'Prompt', sans-serif;
}

* {
  margin: 0;
  padding: 0;  
}

h1 {
    font-size: 2.5em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

div.msg-element {
    font-size: 1.4em;
    flex-direction: column;
    margin: 20px;
}

button {
    padding: 1.5em;
    letter-spacing: .6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: rgb(0, 91, 0);
    background-color: gold;
}

p#random-message{
    font-size: 1.6em;
    font-weight: bold;
}

span.st-valentine{
    font-size: 1.7em;
}
span.heart-emoji{
    font-size: 1em;
}
